<div [ngClass]="{'option-select': item?.isSelected}" class="option-selection d-flex flex-column justify-content-center w-100" *ngFor="let item of featuresSelected" (click)="selectFeatureOption(item.idFeatures)">
    <div class="d-flex justify-content-between">
        <div class="col-10 p-0">
            <p class="color-primary m-0">{{item.title}}</p>
        </div>
        <div class="col-2 p-0 d-flex align-items-center justify-content-end">
            <p *ngIf="item.priceFeature" class="color-primary m-0">+ ${{item.priceFeature}}</p>
        </div>
    </div>
</div>