<div class="main col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 h-100 d-flex flex-column">

    <div class="row m-0">
        <!-- <div class="col-12 h-100 d-flex p-0"> -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-0">
                <div class="sticky-top">
                    <img-carousel *ngIf="urlPaths" [urlPaths]="urlPaths"></img-carousel>
                    <specification-feature *ngIf="specificationFeatures" [specificationFeatureItem]="specificationFeatures"></specification-feature>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 h-100 p-0">
                <div class="row m-0 pl-xl-4 pl-lg-4 pl-md-0 pl-sm-0 pl-xs-0">
                    <div *ngIf="product" class="col-12 p-0">

                        <p class="new-release color-carmesi" *ngIf="product.new">NEW RELEASE</p>
                        <h1 class="name-product color-primary m-0">{{product.nameProduct}}</h1>
                        <h1 class="sub-name-product color-dark-gray">{{product.subNameProduct}}</h1>
                        <p class="starting-at color-dark-gray m-0">STARTING AT</p>
                        <p class="price color-primary">${{product.price}}</p>
                        <div class="row m-0">
                            <div class="col-12 p-0">
                                <ul class="p-0">
                                    <li>
                                        <p [ngClass]="{'active-tab color-primary': readOption.isOverview, 'color-dark-gray': !readOption.isOverview}" class="m-0 title" (click)="selectReadSpecification('overview')">Overview</p>
                                    </li>
                                    <li>
                                        <p [ngClass]="{'active-tab color-primary': readOption.isFeature, 'color-dark-gray': !readOption.isFeature}" class="m-0 title" (click)="selectReadSpecification('feature')">Features</p>
                                    </li>
                                    <li>
                                        <p [ngClass]="{'active-tab color-primary': readOption.isBox, 'color-dark-gray': !readOption.isBox}" class="m-0 title" (click)="selectReadSpecification('box')">What´s in the box?</p>
                                    </li>
                                </ul>
                                <p class="w-100 content">{{tabContent}}</p>
                            </div>
                        </div>

                        <div class="row mx-0 content">
                            <p class="m-0 color-primary title">Choose your finish</p>
                            <color-option [colorOptions]="colorOptions"></color-option>
                        </div>

                        <div class="row mx-0 content">
                            <p class="m-0 color-primary title">Would you like to add extended warranty coverage?.</p>
                            <div class="col-12 p-0">
                                <warranty-option [warrantyOptions]="warrantyOptions" (GetExtraPrice)="getExtraPrice($event)"></warranty-option>
                            </div>
                        </div>

                        <div class="row mx-0 content">
                            <p class="m-0 color-primary title">Features</p>
                            <div class="col-12 p-0">
                                <feature-option [featuresOptions]="featuresOptions" (GetExtraPrice)="getExtraPrice($event)"></feature-option>
                            </div>
                        </div>

                        <div class="row mx-0 content">
                            <p class="m-0 color-primary title">Specifications</p>
                            <div class="col-12 p-0 mt-3">
                                <specification-option [specification]="specification"></specification-option>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>

    <div class="row m-0">
        <div class="push"></div>
    </div>

    <diV class="col-12 fixed-bottom p-0">
        <footer [total]=total></footer>
    </diV>
</div>