<div class="main h-100 d-flex flex-column">

    <div class="row m-0">
        <div class="col-12 h-100 d-flex p-0">
            <div class="col-6 h-100 p-0 position-relative">
                <div class="position-fixed">
                    <img-carousel [urlPaths]="urlPaths"></img-carousel>
                    <specification-feature [specificationFeatureItem]="specificationFeatures"></specification-feature>
                </div>
            </div>
            <div class="col-6 h-100 p-0">
                <div class="row m-0 pl-4">
                    <div class="col-12 p-0">

                        <p class="new-release color-carmesi" *ngIf="product.new">NEW RELEASE</p>
                        <h1 class="name-product color-primary m-0">{{product.nameProduct}}</h1>
                        <h1 class="sub-name-product color-dark-gray">{{product.subNameProduct}}</h1>
                        <p class="starting-at color-dark-gray m-0">STARTING AT</p>
                        <p class="price color-primary">${{product.price}}</p>
                        <div class="row m-0">
                            <div class="col-12 p-0">
                                <ul class="p-0">
                                    <li>
                                        <p class="m-0 title active-tab color-primary">Overview</p>
                                    </li>
                                    <li>
                                        <p class="m-0 title color-dark-gray">Features</p>
                                    </li>
                                    <li>
                                        <p class="m-0 title color-dark-gray">What´s in the box?</p>
                                    </li>
                                </ul>
                                <p class="w-100 content">{{tabContent}}</p>
                            </div>
                        </div>

                        <div class="row mx-0 content">
                            <p class="m-0 color-primary title">Choose your finish</p>
                            <color-option [colorOptions]="colorOptions"></color-option>
                        </div>

                        <div class="row mx-0 content">
                            <p class="m-0 color-primary title">Would you like to add extended warranty coverage?.</p>
                            <div class="col-12 p-0">
                                <warranty-option [warrantyOptions]="warrantyOptions"></warranty-option>
                            </div>
                        </div>

                        <div class="row mx-0 content">
                            <p class="m-0 color-primary title">Features</p>
                            <div class="col-12 p-0">
                                <feature-option [featuresOptions]="featuresOptions"></feature-option>
                            </div>
                        </div>

                        <div class="row mx-0 content">
                            <p class="m-0 color-primary title">Specifications</p>
                            <div class="col-12 p-0 mt-3">
                                <specification-option [specification]="specification"></specification-option>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="push"></div>
    </div>
    
    <diV class="col-12 fixed-bottom p-0">
        <div class="col-12 footer bg-gray">
            <div class="row d-flex justify-content-between m-0">
                <div class="col-3 p-0">
                    <p class="m-0 color-primary font-weight-bold">Free Shipping</p>
                    <p class="m-0 color-dark-gray font-weight-normal">Get 2-day free shipping anywhere in North America.
                    </p>
                </div>
                <div class="col-3 p-0">
                    <p class="m-0 color-primary font-weight-bold">2 years warranty</p>
                    <p class="m-0 color-dark-gray font-weight-normal">If anything goes wrong in the first two years,
                        we'll be replace ir for free.</p>
                </div>
                <div class="col-6 p-0">
                    <div class="row m-0">
                        <div class="col-6 d-flex flex-column">
                            <p class="m-0 color-primary font-weight-bold text-right fz-27">${{total}}</p>
                            <p class="m-0 color-dark-gray font-weight-normal text-right">Need financing? Learn more</p>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-buy"> Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </diV>
</div>