<div class="col-12 footer bg-gray">
    <div class="row d-flex justify-content-between m-0">
        <div class="col-3 p-0 shiping-section">
            <p class="m-0 color-primary font-weight-bold">Free Shipping</p>
            <p class="m-0 color-dark-gray font-weight-normal">Get 2-day free shipping anywhere in North America.
            </p>
        </div>
        <div class="col-3 p-0 warranty-footer-section">
            <p class="m-0 color-primary font-weight-bold">2 years warranty</p>
            <p class="m-0 color-dark-gray font-weight-normal">If anything goes wrong in the first two years,
                we'll be replace ir for free.</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
            <div class="row m-0 total-price-section">
                <div class="col-6 d-flex flex-column">
                    <p class="m-0 color-primary font-weight-bold text-right fz-27">${{total}}</p>
                    <p class="m-0 color-dark-gray font-weight-normal text-right">Need financing? Learn more</p>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button class="btn btn-buy"> Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>