<div class="row m-0">
    <div class="product-container-preview overflow-hidden d-flex justify-content-center bg-white col-12 p-0">
        <img class="img-preview p-0" src={{urlPreview}} alt="photo preview" />
    </div>
</div>
<div class="row m-0">
    <div class="col-12 d-flex justify-content-between p-0">
        <div class="d-flex justify-content-between p-0" *ngFor="let item of urlPathsSelection"
            (click)="selectImg(item.idPhoto)">
            <div [ngClass]="{'option-select': item?.isSelected}"
                class="product-container overflow-hidden d-flex justify-content-center bg-white col-12">
                <img class="img-options" [src]="item.urlPath" alt="photo">
            </div>
        </div>
    </div>
</div>